@font-face {
    font-family: "Highway Gothic Narrow";
    src: url(HWYGNRRW.TTF) format('truetype');
}


body {
    background-image: url("bg3.PNG");
    font-family: "Highway Gothic Narrow";
    color: white;
}


h1 {
    text-align: center;
    font-size: 270px;
}


p {
    padding: 0px;
}


.container {
    text-align: center;
}


button {
    background-color: peachpuff;
    width: 100px;
    font-size: 20px;
    font-family: "Highway Gothic Narrow";
    padding: 10px;
    color: black;
  }